.App{     /*22C-2*/
  position: relative;
  margin: 0 4vw;
  min-height: 350vh;
}
#catjpg{
  float:right;
}
#superawesome-div{   /*22C-1*/
  border: 2px solid gainsboro;
  background-color: pink;
  padding: 18px 0;
}
#superawesome-div > div { /*22C-3*/
  background-color: sandybrown;
}
#superawesome-div > div + section { /*22C-5*/
  background-color: lavender;
}
#superawesome-div p{  /*22C-4*/
  font-family: Courier New, Courier, monospace;
  font-weight: bold;    /*23D*/
  color: cornflowerblue;  /*23D*/
  font-size: 24px;        /*23D*/
  background-color: rebeccapurple;
}
.classy-div{
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  letter-spacing: 2px;
}
#box-model-holder{
  position: relative;
  height: 100%;
  background-color: orange;
}
#box-model{
  position: relative; /*25C*/
  margin: 24px;     /*24C*/
  border: solid 24px cornflowerblue; /*24D*/
  padding: 24px;              /*24E*/
  box-sizing: border-box;  /*24F*/
  background-color: darkcyan;
}
#absolute-element{
  position:absolute; /*25C*/
  top: 0;
  right: 0;
  width: 80px;
  height: 28px;
  background-color: forestgreen;
  padding: 14px;
  
}
#invisible-div{
  margin-top: 24px;
  background-color: cyan;
  
  padding: 20px;
}
#invisible-div > div{
  height: 80px;
  display: inline-block; /*25F*/
  width: 80px;  
  background-color: orange;
  margin-right: 20px;
  border: 2px solid fuchsia;
}

#abled:focus{     /*26G*/
  background: cornflowerblue;
}
#disabled:disabled{   /*26E*/
  background: rgb(243, 137, 137); 
}
#hover{
  height: 200px;
  width: 200px;
  background: teal;
}
#hover:hover{   /*26H*/
  background: blueviolet;
}

div:nth-child(odd){ /*26L*/
  background: chartreuse;
}
body{
  background-image: url('./img/tile.jpg'); /*23F*/
  --color-variable: mediumslateblue; /*30C*/
}
#nic{
  background: transparent;
  background-image: url('./img/floating-nic.png');
  position: fixed;  /*25C*/
  height: 260px; 
  width: 260px;
  top:250px;
  left: 60%;  
  /* transition: 2s ease-in-out; */
}
#nic:hover{
  transform: rotate(45deg);
}
#flexbox{
  display:flex; /*27G*/
  justify-content: center; /*27C*/
  align-items: center; /*27D*/
  flex-wrap: wrap;  /*27E*/
  flex-direction: row;  /*27F*/
  background: var(--color-variable); /*30C*/
  padding: 18px;
}
#flexbox > div{
  height: 140px;
  width: 140px;
  margin: 8px;
  background: rgb(60, 4, 4);
  background-image: url('./img/bigcat.jpg');
  background-size: contain;
}
#flexbox:hover{
  background-color:cornflowerblue;
}

p, div {
  font-family: monospace;
  font-size: 18px;
  letter-spacing: 3px;
}
.container{
  display: flex;
  flex-direction: row;
}
#boxshadow{
  margin: 22px;
  height: 200px;
  width: 200px;
  background-color: snow;
  box-shadow: 6px 8px 10px gray; 
  background-image: url('./img/cat-technician.jpg');
  background-size: contain;
}
#gradient{
  height: 200px;
  width: 200px;
  margin: 22px;
  border: 2px solid gray;  /*31C*/
      /*30D*/
      background: rgb(241,231,103); /* Old browsers */
      background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=1 ); 
}
#texteffect{
  height: 200px;
  width: 200px;
  margin: 22px;
  border: 2px solid gray;
  color: rgb(255, 255, 255);
  background-color: rgb(6, 230, 255);
  text-shadow: 2px 2px rgb(131, 113, 113); /*30e*/
  overflow: hidden;
}

#grid{
  background:khaki;
  display: grid; /*31D*/
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}
#one{
  grid-column: 1 / 3; 
  grid-row: 1;
  border: 3px solid salmon;
  height: 20px;
}
#two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  border: 3px solid rgba(241,231,103,1);
  height: 20px;
}
#three { 
  grid-column: 1; 
  grid-row: 2/5;
  border: 2px solid darkcyan;
  height: 20px;
}
#doot{
  height: 260px;
  background-image: url('./img/doot.gif');
}