.App{     /*22C-2*/
  margin: 0 4vw;
}
#superawesome-div{   /*22C-1*/
  border: 2px solid gainsboro;
  background-color: pink;
  padding: 18px 0;
}
#superawesome-div > div { /*22C-3*/
  background-color: sandybrown;
}
#superawesome-div > div + section { /*22C-5*/
  background-color: lavender;
}
#superawesome-div p{  /*22C-4*/
  font-family: Courier New, Courier, monospace;
  font-weight: bold;    /*23D*/
  color: cornflowerblue;  /*23D*/
  font-size: 24px;        /*23D*/
  background-color: rebeccapurple;
}
.classy-div{
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  letter-spacing: 2px;
}
#box-model{
  margin: 24px;     /*24C*/
  border: solid 24px cornflowerblue; /*24D*/
  padding: 24px;              /*24E*/
  box-sizing: border-box;  /*24F*/
  background-color: darkcyan;
}